@sidebar-width: 300px;

html, body {
  height: 100%;
}

.dropping {
  cursor: crosshair;

  .dropMarker {
    // TODO fancy colors?

    &:after {
      content: "Click the map to drop a pin or click here to cancel";
    }
  }
}

.dropMarker {
  text-align: center;
  padding: 24px;
  margin-top: 40px;

  // TODO transparent colors
  border: 8px dashed lightGray;
  color: gray;
  background: #eee;

  &:after {
    content: "Click here to drop a pin";
  }
}

#sidebar {
  width: @sidebar-width;
  height: 100%;
  position: absolute;
  border-right: 1px solid black;

  box-shadow: 1px 0 10px gray;
  -moz-box-shadow: 1px 0 10px gray;
  -webkit-box-shadow: 1px 0 10px gray;

  z-index: 2;
}

.sidebar {
  padding: 24px;
}

#map {
  height: 100%;
  position: absolute;
  right: 0;
  left: @sidebar-width;

  // hack to make Google Maps work with Bootstrap
  img {
    max-width: none;
  }
}

.info {
  .name {
    margin-bottom: 0;
  }
}
