@sidebar-width: 300px;
@sidebar-padding: 24px;

html, body {
  height: 100%;
}

.dropping {
  cursor: crosshair;

  .dropMarker {
    color: rgb(70, 136, 71);
    background-color: rgba(70, 136, 71, 0.25);
    border-color: rgb(70, 136, 71);

    &:after {
      content: "Click the map to drop a pin or click here to cancel";
    }
  }
}

.dropMarker {
  text-align: center;
  padding: 24px;
  margin-top: 40px;

  // TODO transparent colors
  border: 8px dashed lightGray;
  color: gray;
  background: #eee;

  &:after {
    content: "Click here to drop a pin";
  }
}

#sidebar {
  width: @sidebar-width;
  height: 100%;
  position: absolute;
  border-right: 1px solid black;
  padding: @sidebar-padding;

  -moz-box-shadow: 1px 0 10px gray;
  -webkit-box-shadow: 1px 0 10px gray;
  box-shadow: 1px 0 10px gray;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 2;
}

#herber {
  position: absolute;
  bottom: @sidebar-padding;
  right: @sidebar-padding;
  left: @sidebar-padding;

  .quote-author {
    margin-bottom: 0;
  }
}

.sidebar {
  padding: 24px;
}

#map {
  height: 100%;
  position: absolute;
  right: 0;
  left: @sidebar-width;

  // hack to make Google Maps work with Bootstrap
  img {
    max-width: none;
  }
}

.info {
  .name {
    margin-bottom: 0;
  }
}

.quote-author {
  text-align: right;
  font-style: italic;
  color: gray;
}

/* fancy indicator around quote
.quote {
  @quote-background: #e8e8e8;
  @quote-indicator-width: 8px;

  position: relative;

  background: @quote-background;
  padding: 8px;
  border: 1px solid black;
  &:before {
    content: "";
    position: absolute;
    right: 20px;
    bottom: @quote-indicator-width * -2;
    width: 0;
    height: 0;
    border-color: @quote-background transparent transparent transparent;
    border-style: solid;
    border-width: @quote-indicator-width;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    right: 19px;
    bottom: (@quote-indicator-width + 1) * -2;
    width: 0;
    height: 0;
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: @quote-indicator-width + 1;
  }
}
*/
